
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                flex-direction: column; /* Cambio en la dirección del contenedor */
            }
    
            #user-list {
                background-color: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 20px;
                border-radius: 8px;
                max-width: 400px;
                width: 100%;
                margin-bottom: 20px; /* Espacio entre la lista y el botón */
            }
    
            #user-list div {
                border-bottom: 1px solid #ddd;
                padding: 10px;
            }
    
            #user-list div:last-child {
                border-bottom: none;
            }
    
            button {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 4px;
            }
    
            button a {
                color: #fff;
                text-decoration: none;
            }